*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}
header{
    margin:10px auto;

}

h1{
    background-color:rgb(109, 112, 112);
    
}

h2{
    color:white;
}

text-left text-white{
    padding-top :10px;
    
}